BACKEND_DATABASE_URL=postgresql+psycopg://breachsim:breachsim@postgres:5432/breachsim
BACKEND_REDIS_URL=redis://redis:6379/0
BACKEND_SECRET_KEY=change-me-in-production
BACKEND_ENCRYPTION_KEY=3zcD2n9il4f-aM1MAt7R9Hkg4g7H4FrJDE0ctCcf18Y=
BACKEND_FRONTEND_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
